@media (max-width: 1030px) {
  nav {
    display:none;
  }
  .dropDown {
    display: block !important;
  }
}
@media (min-width: 1031px){ .dropDown-links {
  display: none !important;
}
}



body {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 16px;
}


p {
  font-size: 100%;line-height: 1.2;
}
h1 {
  font-size: 250%;
}
ul{line-height:200%;}



.aboutText p {
  font-family: Helvetica, Arial, Sans-serif;
  margin-left: 20%;
  margin-right: 20%;

}
.pageHead{
  background-color: #2e3e4e;
  border-style: groove;
  border-color: black;
  border-top: none;
  border-right: none;
  border-left: none;

}
.pageHead img{
  padding-left: 2px;
  height: 125px;
  width: 175px;
}
.pageHead a {

  font-family: Helvetica, Arial, Sans-serif;
  color: white;
  text-decoration: none;



}
.pageHead a:hover {
  text-decoration: underline;
}
.Left-headLinks{
  position: absolute;
  top:10px;
  left: 185px;


}
@media (max-width: 600px ) { .Left-headLinks {
  position: absolute; top:80px;
}
}
.Right-headLinks {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-left:185px;
}

nav {

  top: 0px;
  position: relative;
  background-color: #2e3e4e;
  color: #f1f1f1;
  margin: 0;
  overflow: hidden;
  font-family: Helvetica,Arial,sans-serif;
  width: 100%;
}
nav li {
  float:left;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li a {

  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: None;
  letter-spacing: 1px;
}
nav li a:hover {
  background-color: #113;
}

.dropDown {
  color: #f1f1f1;
  background-color: #2e3e4e;
  display: none;
  width: 100%;
  font-family: Helvetica, Arial, Sans-serif;
}
.dropmenu button {
    height: 10%;
    border: none;
}
.dropmenu button:hover{
  background-color:#113;
}
.dropmenu img {
  height: 100%;
}
.dropDown-links {
  display: none;
    position: absolute;
}
.dropDown-links a {
  color: #f1f1f1;
  background-color: #2e3e4e;
  font-family: Helvetica,Arial,sans-serif;
  text-decoration: none;
  font-size: 6vw;

}
.dropDown-links div:hover{
  background-color: #113;
}
.dropDown-link{
  background-color: #2e3e4e;
  width: 100%;
  text-align: center;
}
.show {display:block;}

.spanner {
  align-content: center;
}
.spanner img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 675px;
  height: 418px;
}
.productTable table {
  margin-left: auto;
  margin-right: auto;
}
.productTable td {
  background-color: white;
  border-style: solid;
  border-color: #2e3e4e;
  width:210px;
  height:210px;


}
.productTable img {
  width: 100%;
  height: 100%;
}
.productTable a {
  text-decoration: none;
  color: #2e3e4e;
  text-align: center;

}


.logo_holder img {
  width: 9vw;
  height: 9vw;
}

.leftLogo {
  position:fixed;  top:55%; left:5%; z-index:-1;
}

.rightLogo {
  position:fixed;  top:55%; right:5%; z-index:-1;
}
.itemWrapper {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  height: 400px;
  width:640px;
  background-color: white;
}

.itemPicture {
  float: left;
}
.itemPicture img {
  height: 295px;
  width: 260px;
  padding-right: 10px;
  padding-bottom: 40px;
}

@media (max-width: 645px) {.itemWrapper {
   height: 200px;
   width: 320px;
   font-size: 90%;

  }
}
@media (max-width: 645px) {.itemPicture img {
   height: 148px;
   width: 130px;
    }
  }
@media (max-width: 645px) {.itemWrapper h1 {
  font-size: 100%;
}
}
@media (max-width: 645px) {.itemWrapper h4 {
  font-size: 80%;
}
}






.wrapper {
	min-height:100%;
	position:relative;
}

.pageContent {
  padding-bottom:250px;
}
.videoBox{
    display: block; margin: 0 auto;


}
.videoBox iframe {
    display: block; margin: auto;

}

.foot_links {

  width: 100%;
  background-color: #2e3e4e;
  padding: 10px;
  position:absolute;
	bottom:0;
	left:0;
}





.foot_links a {

  text-align: center;
  color: #f1f1f1;
  text-decoration: none;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;


}
.foot_links a:hover {
  text-decoration: underline;
}

.foot_links ul {
  list-style-type: none;
}
.foot_row {
   display:inline-block;
}
@media (max-width: 750px) {.spanner img{
   width: 338;
   height: 209;
  }
}
@media (max-width: 300px) {.spanner img{
   width: 169;
   height: 105;
  }
}

#myDropdown{
  width: 100%;
}
